<div id="my-info">
    Martin Stoykov F85988
</div>
<br>
<div id="course-info">
    CSCB520 JavaScript и NodeJS
</div>
<div id="teacher-info">
    <p> Deyan Enchev - cool teacher &#128540;</p>
</div>
